In [1]:
import os
import sys
import math
import logging
from pathlib import Path

import numpy as np
import scipy as sp
import sklearn
import statsmodels.api as sm
from statsmodels.formula.api import ols

%load_ext autoreload
%autoreload 2

import matplotlib as mpl
import matplotlib.pyplot as plt
%matplotlib inline
%config InlineBackend.figure_format = 'retina'

import seaborn as sns
sns.set_context("poster")
sns.set(rc={'figure.figsize': (16, 9.)})
sns.set_style("whitegrid")

import pandas as pd
pd.set_option("display.max_rows", 120)
pd.set_option("display.max_columns", 120)

logging.basicConfig(level=logging.INFO, stream=sys.stdout)

In [2]:
from enadepy.loaders import read_dtb_municipio

In [3]:
df = read_dtb_municipio('../references/dtb_brasil_municipio.csv')

In [4]:
df.head()

,UF,Nome_UF,Mesorregião Geográfica,Nome_Mesorregião,Microrregião Geográfica,Nome_Microrregião,Município,Código Município Completo,Nome_Município
0,11,Rondônia,02,Leste Rondoniense,006,Cacoal,00015,1100015,Alta Floresta D'Oeste
1,11,Rondônia,02,Leste Rondoniense,006,Cacoal,00379,1100379,Alto Alegre dos Parecis
2,11,Rondônia,02,Leste Rondoniense,003,Ariquemes,00403,1100403,Alto Paraíso
3,11,Rondônia,02,Leste Rondoniense,005,Alvorada D'Oeste,00346,1100346,Alvorada D'Oeste
4,11,Rondônia,02,Leste Rondoniense,003,Ariquemes,00023,1100023,Ariquemes

In [5]:
df.dtypes

UF                           string
Nome_UF                      string
Mesorregião Geográfica       string
Nome_Mesorregião             string
Microrregião Geográfica      string
Nome_Microrregião            string
Município                    string
Código Município Completo    string
Nome_Município               string
dtype: object

In [6]:
df.describe().transpose()

                          count unique                     top  freq
UF                         5570     27                      31   853
Nome_UF                    5570     27            Minas Gerais   853
Mesorregião Geográfica     5570     15                      01  1174
Nome_Mesorregião           5570    137  Noroeste Rio-grandense   216
Microrregião Geográfica    5570     66                     004   274
Nome_Microrregião          5570    554          Ilhéus-Itabuna    41
Município                  5570   4307                   01605     4
Código Município Completo  5570   5570                 3146206     1
Nome_Município             5570   5297               Bom Jesus     5

In [7]:
df.query('Nome_UF == "São Paulo" & Nome_Município == "Araçatuba"')

,UF,Nome_UF,Mesorregião Geográfica,Nome_Mesorregião,Microrregião Geográfica,Nome_Microrregião,Município,Código Município Completo,Nome_Município
3298,35,São Paulo,03,Araçatuba,017,Araçatuba,02804,3502804,Araçatuba